---
import Layout from '../layouts/Layout.astro';
import { Picture } from '@astrojs/image/components';
---

<Layout title="The Wild Outcasts Clan">
	<main>
		<div class=" flex flex-col items-center">
			<Picture class="max-h-screen" src="/images/logo.png" alt="The Wild Outcasts Clan" widths={[300, 600, 900, 1200, 1500, 1800, 2100, 2400]} aspectRatio="1:1"/>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
	}
	h1 {
		font-size: 4rem;
		font-weight: 800;
		margin: 0;
	}
	.carousel-item {
		scale: 1;
		transition: 0.5s cubic-bezier(0.5, 0, 0.33, 0.98);
	}
	.carousel-item:hover {
		scale: 1.1;
	}
	.text-gradient {
		background-image: var(--primary-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.text-gradient:hover {
		animation: gradient 10s ease-in-out alternate infinite;
	}
	@keyframes gradient {
		0% {
			background-position: 0%;
		}
		50% {
			background-position: 100%;
		}
		100% {
			background-position: 0%;
		}
	}
	/* .instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: #161006;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	} */
</style>
